body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}

header {
	background: #4585ff;
	padding: 10px 0px;
}

.logo {
	float: left;
}

.logo img{
	height: 40px;
}

nav {
	float: right;
}

.clearfix {
	clear: both;
}

nav li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

a {
	text-decoration: none;
}

nav a {
	color: white;
	text-decoration: none;
}
.main {
	float: left;
	width: 70%;
}

.sidebar {
	float: right;
	width: 30%;
}

.articles {
	display: flex;
	flex-wrap: wrap;
}

.item {
	background: white;
	width: calc(50% - 30px);
	margin: 15px;
	position: relative;
	box-sizing: border-box;
	border-radius: 12px;
	padding: 10px;
	
}

article img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
	box-sizing: border-box;
	border-radius: 12px;
	margin-right: 10px;
}

.wrapper {
	background: #f6f7fb;
}

.post-category {
	background-color: #4585ff;
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 4px 10px 2px;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	text-align: left;
	pointer-events: all;
	border-radius: 12px;

}

.post-category a {
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.link {
	border: none;
	text-decoration: inherit;
	color: inherit;
	font-size: 1.5rem;
}

.author {
	color: #646d8d;
	font-size: 14px;
	text-decoration: none;
	border: none;
	margin-top: 10px;
	margin-left: 10px;
	display: block;
}

.title {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0;
}

.more {
	font-size: 1em;
	text-decoration: none;
	color: #4585ff;
	margin-top: 10px;
	margin-left: 10px;
	display: block;
}

.component_inner {
	padding: 10px;
}

.component_counter {
	background: white;
	border-radius: 12px;
	padding: 10px;
	color: #646d8d;
}

.component_content {
	margin-left: auto;
}

/*sidebar style*/
.widget {
	background: white;
	margin-bottom: 30px;
	border-radius: 12px;

}

.widget-title {
	border-bottom: 2px solid #f6f7fb;
	padding: 10px 15px;
	margin: 0;
}
.widget-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget-content li {
	border-bottom: 2px solid #f6f7fb;
	padding: 10px 0;
}

.widget-content li:last-child {
	border-bottom: none;
} 

.widget-content {
	padding: 10px 15px;
}

.widget-content a {
	color: #4585ff;
}

.tag-cloud {
	border-radius: 8px;
	border: 2px solid #4585ff;
    display: inline-block;
    padding: 1px 10px;
    margin: 5px;
}

.widget .post_count {
	width: 2.2em;
	height: 2.2em;
	border-radius: 2.2em;
	vertical-align: middle;
	line-height: 2.2em;
	text-align: center;
	display: inline-flex;
	margin-left: auto;
	font-weight: 600;
}

footer {
	background-color: #646d8d;
}

.nav-menu {
	display: flex;
	flex-wrap: wrap;
}

.flex-container {
	justify-content: center;
	margin: 0px;
	padding: 20px;
}

p {
	display: block;
	margin: 0;
}

.row {
	background-color: #ffffff80;
	text-align: left;
	margin: 15px;
}
