body {
  background-color: powderblue;
}

header {
  text-align: right;
  font-size: 24px;
  text-indent: 50px;

}
h1 {
  visibility: visible;
  text-align: center;
  text-decoration: underline overline;
}

h2 {
  color: red;
  background-color: violet !important;
  margin-left: 20px;
  text-shadow: 4px 4px 8px blue;
}
h4 {
  opacity: 0.5;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

p {
  color: navy;
  word-spacing: 6px;
}

p.important {
  color: green;
  background-color: red;
  letter-spacing: 5px;
}

p strong {
  color: purple;
}

a.hover {
  color: red;
}

ul.a {
  list-style-type: lower-greek;
}
table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  border: 4px solid red;
  border-radius: 30px;
  width: 100%;
  table-layout: fixed;
  position: relative;
  left: 30px;
  }

td, 
th {
  font-family: georgia, serif;
  background-color: dodgerblue;
  border: 1px solid #009900;
  text-align: left;
  padding-top: 8px;
  padding-left: 4px;
  padding-bottom: 8px;
  padding-right: 4px;
  padding: 8px 4px;
  padding: 8px 4px 8px 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

caption {
  caption-side: right;
}

#top {
  background-color: #ccc;
  padding: 20px;
}

.intro {
  color: red;
  font-weight: bold;
}
form {
  background-color: red;
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  background-color: pink;
  margin-top: 1em;
}

form.homework {
  width: 100%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #3CBC8D;
  border: 5px solid;
  border-color: red green yellow blue;
  color: white;
  }

label {
  background-color: MediumSeaGreen;
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  background-color: orange;
  /* To make sure that all text fields have the same font settings
   By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
  background-color: yellow;
}

textarea {
  background-color: tomato;
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
  resize: none;
}

.button {
  background-color: SlateBlue; 
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
   between the labels and their text fields */
  margin-left: .5em;
}

.menu {
  background: green;
}

.menu .active {
  color: white;
}

.menu a {
  color: black;
}
img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

div.background {
  background: url(terre.jpg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;

.box-orange {
  position: relative;
  background: orange;
  width: 100px;
  height: 100px;
  right: 5px;    // 5px relative to the most-right of parent
}
.container {
  position: absolute;
  background: lightgray;
  border: 5px solid red;
  padding: 20px;
}

.box-blue {
  background: lightskyblue;
  height: 100px;
  width: 100px; 
  position: static;   // Declared as static
}